<h1>Self Care Diary</h1>
<h2>Keep track of your feelings and thoughts <br>
<p>Scaffold diary for CRUD functions with title, diary-entry. <br>
ID, timestamp as default as well as created_at and updated_at.</p>
</h2>