<div class ="jumbotron">
    <h1>Welcome to Istigh</h1>
    <h2>Self Care Planning</h2>
    <p>Going inwards so you can keep moving onwards</p>
    <%= link_to 'Assess', home_assess_path, class: 'btn btn-default' %>   <%# bootstrap buttons %>
    <%= link_to 'Learn', home_learn_path, class: 'btn btn-default' %>     <%# bootstrap buttons %>
    <%= link_to 'Diary', home_diary_path, class: 'btn btn-default' %>     <%# bootstrap buttons %>
</div>
