<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<% if @plan.user == current_user %>
<%= link_to 'Edit', edit_plan_path(@plan) %> |
<% end %>
<%= link_to 'Back', plans_path %>
